@model SensorLogger.Models.Microcontroller

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MicrocontrollerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MicrocontrollerName)
        </dd>
        <dt class="col-sm-2">
            API Readings URL
        </dt>
        <dd class="col-sm-10">
            https://localhost:44396/api/Readings/@Html.DisplayFor(model => model.MicrocontrollerID)?authKey=@Html.DisplayFor(model => model.APIauthKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.APIauthKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.APIauthKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Readings)
        </dt>


        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Date and time</th>
                    <th>Values</th>
                    <th></th>
                </tr>
                @foreach (var _reading in Model.Readings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => _reading.Date_time)
                        </td>
                        <td>
                            @foreach (var _readingvalue in _reading.ReadingValues)
                            {
                                @Html.DisplayFor(model => _readingvalue.Value)
                                <text> </text>
                                @Html.DisplayFor(model => _readingvalue.ValueType)
                                <br />
                            }
                        </td>
                        <td>
                            <a asp-action="DeleteReading" asp-route-id="@_reading.ReadingID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MicrocontrollerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>