@model IEnumerable<SensorLogger.Models.Microcontroller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MicrocontrollerName)
            </th>
            <th>
                <text>Last update</text>
            </th>
            <th>
                <text></text>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.MicrocontrollerID">
                    @Html.DisplayFor(modelItem => item.MicrocontrollerName)
                </a>
            </td>
            <td>
                @if (item.Readings.Count != 0)
                {
                    @Html.DisplayFor(modelItem => item.Readings.Last<Reading>().Date_time)
                }
                else
                {
                    <text>No readings</text>
                }
            </td>
            <td>
                @if (item.Readings.Count != 0)
                {
                    @foreach (var _lastvalue in item.Readings.Last<Reading>().ReadingValues)
                    {
                        @Html.DisplayFor(modelItem => _lastvalue.Value)
                        <text> </text>
                        @Html.DisplayFor(modelItem => _lastvalue.ValueType)
                        <br />
                    }
                }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.MicrocontrollerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
